header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  width: 100vw;
  border-bottom: 1px solid #ccc;
  min-width: 900px;
}

.title {
  display: flex;
  align-items: center;
}

.title h2 {
  font-family: 'Caveat', cursive;
  font-size: 28px;
}

.title .logo {
  height: 40px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu img {
  height: 18px;
  cursor: pointer;
}
