main {
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    height: calc(100vh - 135px);
    width: 100%;
}

.topics-box {
    border-right: 1px solid #ccc;
    padding-right: 15px;
}

.topics-box .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.topics {
    height: calc(100vh - 225px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.topic-card {
    border-bottom: 1px solid #dddddd00;
    padding: 15px;
    background-color: #fff;
    transition: all 250ms;
}

.topic-card .topic {
    font-weight: 600;
    font-size: 14px;
}

.topic-card .consumer-group {
    color: #007bff;
    font-size: small;
    padding-top: 5px;
}

.topic-card:hover {
    background-color: #f9f9f9;
    border-color: #ccc;
    cursor: pointer;
}

.topic-card:active,
.topic-card.active {
    background-color: #e9ecef;
    border-color: #007bff;
}

.topic-card.dark-mode {
    background-color: #1d2022;
    color: #ffffff;
}

.topic-card.dark-mode:hover {
    background-color: #121212;
    color: #ffffff;
}

.topic-card.dark-mode:active {
    background-color: #121212;
    color: #ffffff;
}

.topic-data .metadata {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-weight: 600;
}

.topic-data .metadata p {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.topic-data .message-content {
    max-width: 68.9vw;
    min-width: 600px;
    height: calc(100vh - 217px);
    padding: 10px 0;
    font-size: 16px;
    overflow-x: scroll;
}

.topic-data .message-content pre {
    font-family: 'Courier New', Courier, monospace;
}